<h1 class="text-3xl font-bold mb-6">Welcome Jibril Billy</h1>
        
        <!-- Summary Cards -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2">
            <div class="bg-white p-4 h-48 shadow rounded-lg">
                <h2 class="text-xl font-semibold">No. Of Courses</h2>
                <p class="text-gray-600 flex justify-center mt-8">000</p>
            </div>
            <div class="bg-white p-4 h-48 shadow rounded-lg">
                <h2 class="text-xl font-semibold">No. of Tasks Today</h2>
                <p class="text-gray-600 flex justify-center mt-8">000</p>
            </div>
            <div class="bg-white p-4 h-48 shadow rounded-lg">
                <h2 class="text-xl font-semibold">No. of Completed Tasks Today</h2>
                <p class="text-gray-600 flex justify-center mt-8">000</p>
            </div>
            <div class="bg-white p-4 h-48 shadow rounded-lg">
                <h2 class="text-xl font-semibold">No. of Hours Today</h2>
                <p class="text-gray-600 flex justify-center mt-8">000</p>
            </div>
        </div>