<div class="container p-5 border-2 border-blue-400">
<span class="border flex w-30  bg-gray-200 border-blue-400 text- p-1">
    
    <button (click)="showForm('create','')" class="cursor-pointer"><mat-icon>add_circle_outline</mat-icon>Add Courses</button>
</span>
</div>

@if(seeDialog){
    <div  class="fixed top-0 left-0 w-full h-full flex justify-center items-center"  style="background-color: rgba(0, 0, 0 , 0.6 );">
        <section class="bg-white p-6 border-2 h-48">
            <h1 class="font-extrabold mb-3">Course Form</h1>
            <form [formGroup]="courseForm" (ngSubmit)="addCourse()">
                <input type="text" class="border-2 p-6" formControlName="courseName" placeholder="Course Name" required>
              <div class="flex justify-between mt-auto ">
                <button type="submit" class="border-2 bg-green-500 text-white p-2">Sumbit</button>
                <button type="button" (click)="closeForm()" class="border-2 bg-red-400 text-white p-2 ml-2">Cancel</button>
              </div>
            </form>
        </section>
    </div>
}


<div class="mt-10">
    <h1 class="text-2xl mb-6">My Courses</h1>
    <table class="w-full border-2 ">
        <thead class="bg-gray-200 border-2 border-blue-500">
            <tr>
                <th class="text-left border-r-2">#</th>
                <th class="text-center border-r-2">Course Name</th>
                <th class="text-center border-r-2">Date</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-t-2" *ngFor="let course of courses" #courseid id="{{course.id}}">
                <td class="text-left border-r-2">{{ course.id }}</td>
                <td class="text-center border-r-2">{{ course.name }}</td>
                <td class="text-center border-r-2">{{ course.date }}</td>
                <td class="text-center border-r-2">
                    <button (click)="showForm('edit',courseid.id)" class="border-2 mr-1 bg-green-300"><mat-icon>create</mat-icon></button>
                    <button (click)="deleteCourse(courseid.id)" class="border-2 bg-red-400"><mat-icon>delete</mat-icon></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>