<div class="mt-10">
    <h1 class="text-2xl mb-6">Tasks For Today</h1>
    <table class="w-full ">
        <thead>
            <tr>
                <th class="text-left">Course Name</th>
                <th class="text-center">Start Time</th>
                <th class="text-center">Delay</th>
                <th class="text-center">Countdown</th>
                <th class="text-center">End Time</th>
                <th class="text-center">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-left">Course Name</th>
                <th class="text-center">Start Time</th>
                <th class="text-center">Delay</th>
                <th class="text-center">Countdown</th>
                <th class="text-center">End Time</th>
                <th class="text-center">Status</th>
            </tr>
        </tbody>
    </table>
</div>